<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
	  <img src="/images/logo.png" alt="LOGO" class="logo">
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li id = "home"><a href="/">HOME</a></li>
		<li id = "reservations"><a href="/select">MAKE A RESERVATION</a></li>
        <li id = "restaurants"><a href="/for_restaurants">FOR RESTAURANTS</a></li>
		<li id = "profile"><a href ="/profile"> PROFILE </a></li>
		<li id = "rate"><a href ="/ratings"> RATE RESTAURANTS</a></li>
		<li id = "logout"><a href = "/logout"> LOG OUT 	</a></li>
	  </ul>
    </div>
  </div>
</nav>

	