<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
  <div class = "slider-container">
    <span id = "slider-image-1"></span>
	<span id = "slider-image-2"></span>
	<span id = "slider-image-3"></span>
    <div class = "image-container">
	  <img src = "/images/1.jpg" class = "slider-image">
	  <img src = "/images/2.jpg" class = "slider-image">
	  <img src = "/images/3.jpg" class = "slider-image">
	  <img src = "/images/4.jpg" class = "slider-image">
	  <img src = "/images/5.jpg" class = "slider-image">
	</div> 
</div>
<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("slider-image");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script>
</body>
<% include partials/script %>
</html>