<!DOCTYPE html>
<html>
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu_restaurants %>
<form action = "/for_restaurants" method = "post" role = "form" id = "form_valid">
		<label color="Gold" >Restaurant Name</label>
		<input type ="text" name = "Restaurant_Name" id = "Restaurant_Name" placeholder="Enter a name" required="required">
		<label color="Gold" >Number of Outlets</label>
		<input type ="text" name = "Number_Outlets" id = "Number_Outlets" placeholder="Enter a number"> </br>
		<button type="submit" style = "block" class="btn btn-primary">SUBMIT</button>
</form>
</body>
<% include partials/script %>
</html>