<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu_restaurants %>
<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-middle">
      <p>TO INSERT A FORM ALLOWING RESTAURANTS TO INSERT DATA.</p>
    </div>
  </div>
</div>
</body>
<% include partials/script %>
</html>