.bg-3 { 
      background-color: #000000;
      color: #555555;
}

body {
	background-color: black;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
  
.navbar {
	background-color: #000000;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav  li a:hover {
    color: #FFD700 !important;
}
.active>a {
  color: #FFD700 !important;;
}

.slider-container {
	width: 1280px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	text-align: center;
}

.image-container {
	width: 6000px;
	height: 600px;
	position: relative;
	transition: left 2s;
	-webkit-transitin: left 2s;
	-moz-transition: left 2s;
	-o-transition: left 2s;
}

.slider-image {
	float: left;
	margin: 0px;
	padding: 0px;
}
	
.button-container {
	top: -230px;
	position: relative;
}

#slider-image-1:target ~ .image-container{
	left: 0px;
}

#slider-image-2:target ~ .image-container{
	left: -1600px;
}

#slider-image-3:target ~ .image-container{
	left: -3200px;
}

button {
  background-color: #FFD700;
  color: black;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  width: 80%;
  font-size: 12px;
  letter-spacing: 5px;
  border-radius: 12px;
}

button:hover {
  opacity: 0.8;
}

input[type=text], input[type=password], input[type=date] {
  width: 500px;
  padding: 12px 20px;
  display: inline-block;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

button[type=submit]{
  width: auto;
  background-color: black;
  color: #FFD700;
  padding: 12px 20px;
  display: inline-block;
  margin: 8px auto;
  border: 1px solid #ccc;
  align-items: center;
}

label {
	display: block;
	color: #FFD700;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: 200px;
  border: 1px solid #ccc;
  background-color: black;
  color: #FFD700;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.logo{
  width: 100px;
  height: 100px;
}

img.avatar {
  width: 100px;
  height: 100px;
}

.container {
  padding: 16px;
}

.logincontainer{
  padding: 0px 15px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 250px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

.card-header {
	color: #FFD700;
	font-size: 20px;
}

.card-body {
	font-size: 15px;
	margin: 1% auto
}

input[type=changepassword]{
  width: 500px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

input[type=restaurant_name] {
	width: 500px;
	margin: 1%;
	box-sizing: border-box;
	border: 1px solid #ccc;
}

button[type=updatepasswordsubmit], button[type=updatephoneno], button[type=submitrestaurantname]{
  width: 300px;
  background-color: black;
  color: #FFD700;
  padding: 12px 10px;	
  display: inline-block;
  margin: 10px 1%;
  border: 1px solid #ccc;
  align-items: center;
}

button[type=selectrestaurantbutton]
{
	width: auto;
}

input[type=outlettext], input[type=time]
{
	width: 250px;
	height: 35px;
	color: black;
}
